body {
    margin: 0;
    padding: 0;
    background-color:  #faf7f2;
}

header {
    background-color: #CE2829;
    background-image: url(./assets/header/malzemeler.png), url(./assets/header/pizza.png), url(./assets/header/sag_goruntu.png), url(./assets/header/sol_goruntu.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position:top, bottom, right top, left bottom;
    background-attachment: fixed, fixed, fixed, fixed;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; 
    color: #FFFFFF;
}

header h1 {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    padding-top: 3.1rem;
    font-size: 3.2rem;
    line-height: 3rem;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section .satisfy {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style:normal ;
    font-size: 2.3rem;
    line-height: 3rem;
    color: #FDC913;
}

.header-section .roboto {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.1rem;
    font-size: 5.7rem;
    line-height: 6rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header-section a {
    background-color: #FDC913;
    text-transform: uppercase;
    border-radius: 3.5rem;
    padding: 0.1rem  3.8rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 3.5rem;
    color: #292929;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: background-color 0.5s ease-out,color 0.5s ease-out, transform 0.5s ease-out;
}

.header-section a:hover {
    background-color: #292929;
    color: #FDC913;
    transform: scale(1.2);
}

nav {
    background-color: #FFFFFF;
}

.nav-section {
    width: 56%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.nav-section a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    gap: 1rem;
    color: #292929;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 2.5rem;
    font-size: 1.3rem;
    border-radius: 2rem;
    padding: 1rem 0.6rem;
    border: 0.1rem solid transparent;
    cursor: pointer;
    transition: 0.4s;
}

.nav-section a:hover {
    background-color: #292929;
    color: white;

}

.nav-section img {
    height: 2.7rem;
}

main {
    width: 56%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
    padding-bottom: 5rem;
}

.section-1 {
    flex: 1;
    display: flex;
    align-items: stretch;
    gap: 0.8rem;
    padding-top: 3rem;
    width: 100%;  
}

.image-sum {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.image-1 {
    background-image: url(./assets/main/div/pizza.png);
    background-size:cover; 
    background-position: center; 
    background-color: #CE2829;
    flex: 1 1 50%;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9rem;
    padding: 4rem 2.5rem;
    border-radius: 1rem; 
    color: #FFFFFF;
}

.image-1 p:first-child,
.image-1 p:nth-child(2) {
    font-family: "Quattrocento", serif;
    font-weight: 700;
    font-style: normal;  
    font-size: 4.4rem;
    line-height: 4.7rem;
}

.image-1 p:nth-child(3) {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.7rem;
} 

.image-2 {
    background-image: url(./assets/main/div/hamburger.png);
    background-size:80%; 
    background-position:right center; 
    background-repeat: no-repeat;
    background-color: #292929;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9rem;
    padding: 3rem 2.8rem;
    border-radius: 1rem; 
    color: #FFFFFF;
    height: 15rem;
}

.image-2 p {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.image-3 {
    background-image: url(./assets/main/div/motor.png), url(./assets/main/div/yol.png);
    background-size: 90%, cover; 
    background-position: right, center; 
    background-repeat: no-repeat;
    background-color: #FFEECC;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9rem;
    padding: 3rem 2.8rem;
    border-radius: 1rem; 
    color: #FFFFFF;
    height: 15rem;
}

.image-3 p {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #292929;
}

.image-3 p span {
    color: #CE2829;
}

.bg-image-btn {
    background-color: #FFFFFF;
    color: #CE2829;
    border-radius: 3.1rem;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    line-height: 3rem;
    padding: 0.1rem 1.5rem;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    border: 0.1rem solid transparent;
    transition:background-color 0.5s ease-out,border 0.5s ease-out, transform 0.5s ease-out;
}

.bg-image-btn:hover{
    border: 0.1rem solid #FDC913;
    background-color: #292929;
    transform: scale(1.2);
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 p:first-child {
    color: #CE2829;
    font-family: "Satisfy", cursive;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
}

.section-2 p:last-child {
    color: #292929;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.8rem;
    line-height: 3.5rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.btn a {
    display: flex;
    align-items: center;
    color: #292929;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 2rem;
    background-color: #FFFFFF;
    border-radius: 3.4rem;
    gap: 1rem;
    padding: 1rem;
    text-transform: capitalize;
    transition: 0.3s;
}

.btn a:hover {
    background-color:#292929;
    color:white;
    cursor: pointer;
}

.btn a.actived {
    background-color:#292929;
    color:white;
}

.btn a img {
    height: 2.3rem;
}

.section-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.section-3 .food-card {
    display: flex;
    justify-content: center;
    flex: 1 1 30%;
}

.section-3 .food-card  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    text-align: flex-start;
    background-color: #FFFFFF;
    gap: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #292929;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    transition: transform 0.5s ease;
}

.section-3 .food-card  a:hover {
    transform: scale(1.1);
}

.section-3 .food-card a span {
    display: flex;
    justify-content: space-between;
}


.section-3 .food-card a span p:nth-child(1),
.section-3 .food-card a span p:nth-child(2) {
    color: #1B1B1BB2;
    font-weight: 600;
    font-size: 1.6rem;
}

footer {
    background-color: #1A1A1A;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 2rem;
    padding-top: 1rem;
    opacity: 1rem;
}

.footer-card {
    width: 56%;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
    border-bottom: 1px solid rgb(158, 151, 151)
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 30%;
    gap: 0.4rem;
}

.footer-info h1,
.footer-info h2 {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    font-size: 3.1rem;
    line-height: 3.1rem;
}

.footer-info ul,
.footer-link ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-top: 2rem;
}

.footer-info ul li span ,
.footer-info ul li,
.footer-link ul li  {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    list-style: none;
}

footer li  img {
    height: 1.8rem;
}

.footer-link {
    flex: 1 1 30%;
    padding: 1rem;
}

.footer-link p ,
.footer-img a p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.footer-img {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    padding: 1rem;
    gap: 2.5rem;
}

.footer-img div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.footer-img div img {
    flex: 1 1 30%;
    border-radius: 0.3rem;
    aspect-ratio: 3/3;

}
.footer-info-adress {
    display: flex;
    flex-direction: column;
}

.footer-copyright {
    width: 56%;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.footer-copyright a,
.footer-img a,
.footer-link ul li a {
    text-decoration: none;
    text-decoration: none;
    color: white;
}


@media (max-width: 1895px){

    main {
        width: 100%;
        padding: 2rem;
    }

    .nav-section {
        width: 100%;
        padding: 1rem;
        justify-content: space-around;
    }

    .image-2, .image-3 {
        height: 20rem;
    }

    .section-3 {
        width: 100%;
        padding: 2rem;
    }

    .btn {
        width: 100%;
        padding: 2rem;
        justify-content: space-around;
    }

    .btn a{
        padding: 2rem;

    }

    .section-3 .food-card {
        flex: 1 1 30%;
        display: block;
    }   

    .footer-card {
        width: 100%;
        gap: 1rem;
        padding: 1rem 2rem;
    }

    .footer-info,
    .footer-link,
    .footer-img {
        flex: 1;
    }
    .footer-img div img{
        height: auto;
    }

    .footer-copyright {
        width: 100%;
        padding: 3rem 2rem;
    }
}

@media ( max-width: 1400px){

    header {
        background-image: url(./assets/header/malzemeler.png), url(./assets/header/pizza.png);
        background-size: auto 75vh, auto  36vh;
        background-repeat: no-repeat;
        background-position:bottom, bottom;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;  
        gap: 2.7rem;
    }

    header h1 {
        padding-top: 6rem;
    }

    .nav-section {
        flex-wrap: wrap;
        gap:1.8rem;
        padding: 3rem;
    }

    .nav-section a {
        flex: 1 1 30%;
        justify-content: flex-start;
    }

    .btn {
        flex-wrap: wrap;
    }

    .btn a {
        flex: 1 1 30%;
    }
}

@media (max-width: 1200px){
    .section-1 {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        padding: 3rem 0 0 0;
    }

    .section-3 .food-card {
        display: flex;
        justify-content: space-between;
    }   
}

@media (max-width: 831px){

    header {
        background-image: url(./assets/header/pizza.png);
        background-size: auto  36vh;
        background-repeat: no-repeat;
        background-position:bottom;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;  
        gap: 2.7rem;
    }
   
    .header-section {
        padding: 1rem;
    }

    .header-section .satisfy{
        display: none;
    }

    .header-section .roboto {
        font-size: 6rem;
    }

    .nav-section {
        width: 80%;
        gap: 2.5rem;
        padding: 1.5rem 0;
    }

    .nav-section a {
        flex: 1 1 40%;
        gap: 1rem;
    }

    main {
        display: flex;
        flex-direction: column;
        background-color: #faf7f2;
        padding: 0 0 5rem  0;
    }

    .bg-image {
        height: 100%;
    }
    
    .image-2 {
        display: flex;
        background-size: 40vh;
        height: 100%;
    }
    
    .image-3 {
        display: flex;
        height: 100%;
    }

    .section-2{
        width: 80%;
        text-align: center;
        padding: 1.2rem 0;
        gap: 1rem;
    }

    .section-2 p:last-child {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .btn {
        flex-wrap: wrap;
        width: 80%;
        gap:2rem;
        padding: 0;
    }

    .btn a {
        flex: 1 1 40%;
        padding: 1rem;
    }

    .btn a img {
        height: 3rem;
    }

    .section-3 {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    .section-3 .food-card a{
        flex: 1;
    }

    .footer-card {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 0;
    }

    .footer-link {
        padding: 1rem 0;
    }


    .footer-copyright {
        width: 80%;
        padding: 3rem 0;
    }
}

@media (max-width: 590px){
    header {
        background-image: url(./assets/header/pizza.png);
        background-size: 200%;
        background-repeat: no-repeat;
        background-position:bottom;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;  
        gap: 2.7rem;
    }

    .header-section {
        padding: 0;
    }

}
